
<div class="card bg-dark text-white m-1">
  <%= image_tag("banner_picture.jpg", size: "300x200", alt: "Edit Entry") %>
  <div class="card-img-overlay text-center" style="width: 140px; margin: 0 auto;">
    <h5><%= link_to list.name, list_path(list), class: "text-info" %></h5>
    <%= link_to edit_list_path(list), class: "text-info" do %>
      <i class="far fa-edit"></i>
    <% end %>
  </div>
</div>
